
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{

    font-family: Helvetica, sans-serif;
    margin: 0;
    background-image: url("./imagen/00.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color:white;
    
}
header{
   display:flex;
   min-height: 60px;
   background-color:rgba(248, 67, 67, 0.309);
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}

.navbar {
    padding: 2rem;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}
.logo {
    display:flex;
    align-items: center;
}

.logo img{
    height: 120px;
    margin-left: 05px;
}


nav a{
    font-weight: 600px;
    padding-right: 20px;
}

nav a:hover{
    color:black;
}

@media (max-width:700px){
   header{
    flex-direction: column;
   }
 
   nav{
    padding: 10px 0px;
   }
}
 footer {
    background-color: rgba(70, 69, 69, 0.896);
    padding: 20px 0;
    text-align: center;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-family: "open sans";
    color: white;
 }
 .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
   
 }

 .footer-bottom{
    background: black;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
 }

 .footer_bootom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }